h1, p {
    background-color: #DDE0E3;    /* Light gray */
  }
  
  em, strong {
    background-color: #B2D6FF;    /* Light blue */
  }

  h1 {
    padding: 50px;
  }

  p {
    padding: 20px 10px;  /* Vertical  Horizontal */
  }